extends layout

block content
    form(action='/result', method='post')
        p id
        p
            input(type='text' name='id')
        p password
        p
            input(type='password' name='pw')
        p submit
        p
            input(type='submit')
    p ------------------------------------------------
    p sign_in
    form(action='/signin_pg', method='get')
        p
            input(type='submit')
