extends layout

block content
    form(action='/signin', method='post')
        p id
        p
            input(type='text' name='id')
        p password
        p
            input(type='password' name='pw')
        p name
        p
            input(type='text' name='name')
        p profile
        p
            input(type='textarea' name='profile')
        p submit
        p
            input(type='submit')